body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}

/* container */
.container {
  text-align: center;
}

/* header */
.header {
  padding: 20px;
}

.logo {
  font-family: cursive;
  font-size: 28px;
}

.header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

/* gallery grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 130px;
  justify-content: center;
  margin-top: 40px;
}

/* cards */
.card {
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}


/* text card */
.text-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-size: 50px;
  font-weight: bold;
}

.head {box-shadow: rgba(80, 80, 80, 0.329) 0px 11px 33px;
display: flex; width: calc(100% - 160px);
height: 70px;
justify-content: space-between;
padding: 0 80px;
align-items: center;
}
.ka1 {
font-size: 44px;
font-weight: bold;

}
.ka2 {margin-left: 460px;
font-size: 44px;
font-weight: bold;

}
.loo {font-size: 19px;
  margin-top: 300px; margin-bottom: 40px;
text-align: center;
}
.ka3 {
display: flex;
gap: 26px; align-items: center;
font-size: 16px;
}
.kala {
padding: 10px 20px;
background-color: #1d273a; color: white;
border-radius: 5px; font-weight: bold;
}